.foter{
    width: 100%;
    height: 20em;
    border: 1px solid saddlebrown;
   
    
}
.tv{
    background-color: #fceae8;
    padding-left: 5em;
}
.carousel-border{
    border: 0ch;
    background-image: none;
}